/* Reset */

html {
    font-size: 10px;
    box-sizing: border-box;
    min-width: 375px;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/* Az egész oldalra érvényes stílusok */

:root {
    --violet: #6C05A3;
    --dark-purple: #4E0477;
    --lilac: #DA9CFC;
    --mauve: #F2DCFE;
    --white: white;
    --black: black;
}

body {
    font-size: 1.8rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
}

h1, h2, h3 {
    letter-spacing: 0.1rem;
    word-spacing: 0.2rem;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2.2rem;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--violet);
    position: fixed;
    width: 100vw;
    height: 12vh;
    z-index: 10;
    padding: 0 2rem;
}

.logo {
    font-size: 2.5rem;
    text-decoration: none;
    color: var(--white);
}

.logo:hover {
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.8);
}

/* Hamburger menu */

.nav-checkbox {
    display: none;
}

.nav-checkbox__button {
    width: 4rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    margin-right: 2rem;
}

.nav-checkbox__line {
    height: 0.3rem;
    width: 90%;
    background-color: var(--white);
}

.nav-links {
    list-style-type: none;
    width: 45vw;
    height: 35vh;
    position: fixed;
    right: -30rem;
    visibility: hidden;
    transition: right 0.4s, visibility 0.4s;
    background-color: var(--violet);
    text-align: center;
    padding: 2rem 0;
}

.nav-link {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white);
    display: block;
    padding: 1rem;
    font-size: 2rem;
}

.nav-link:hover {
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.8);
}

.nav-checkbox:checked ~ .nav-links {
    right: 0;
    visibility: visible;
}

/* Main */

main {
    text-align: center;
}

.section-rolam, .section-portfolio, .section-kapcsolat {
    padding: 12vh 0 0;
}

.section-title {
    text-transform: uppercase;
    margin: 3rem 0 1rem;
}

/* Főoldal */

.section-fooldal {
    height: 100vh;
    position: relative;
    top: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fooldal-szakma {
    font-size: 3rem;
    margin: 1rem 0;
}

.buttons {
    margin: 2rem 0;
}

.btn {
    display: inline-block;
    padding: 0.8rem 1rem;
    text-decoration: none;
    background-color: var(--violet);
    color: whitesmoke;
    border: 2px solid var(--dark-purple);
    border-radius: 2px;
    margin: 1rem;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    letter-spacing: 0.1rem;
    cursor: pointer;
}

.btn:hover {
    background-color: whitesmoke;
    color: var(--violet);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
    transition: background-color 0.25s, color 0.25s, box-shadow 0.25s;
}

.avatar {
    display: block;
    width: 20rem;
    margin: 2rem auto 0;
}

/* Rólam */

.rolam-bemutatkozas {
    background-color: var(--lilac);
    padding: 5rem 0;
    font-size: 2rem;
    line-height: 3rem;
}

.kiemeles {
    font-weight: bold;
}

.rolam-technologiak {
    margin: 5rem 0 0;
}

.icon  {
    display: inline-block;
    font-size: 6rem;
    margin: 1.5rem;
}

.fa-html5 {
    color: rgb(229,83,45);
}

.fa-css3-alt {
    color: rgb(45,83,229);
}

.fa-js {
    color: rgb(247,224,37);
}

/* Portfólió */

.portfolio-kontener {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-elem {
    width: 200px;
    height: 200px;
    margin: 2rem;
    background-color: var(--lilac);
    color: black;
    font-size: 2.5rem;
    text-align: center;
    line-height: 200px;
    box-shadow: 3px 3px 5px black;
}

/* Kapcsolat */

.section-kapcsolat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kapcsolat-form {
    background-color: var(--lilac);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
    padding: 2rem 0;
    max-width: 80rem;
}

.form-elem {
    font-size: 2rem;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-textarea {
    height: 25vh;
    width: 25rem;
}

.form-label {
    display: inline-block;
    width: 10rem;
    text-align: center;
    margin: 0.5rem 0;
}

.form-input {
    width: 25rem;
    height: 2.8rem;
}

.form-button {
    font-size: 1.8rem;
}

.kapcsolat-kozosseg {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 ;
}

.social-icon {
    display: inline-block;
    font-size: 4rem;
    margin: 2rem;
    color: var(--violet);
}

.social-icon:hover {
    color: var(--dark-purple);
}

/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 1rem 0 0;
    background-color: var(--mauve);
}

.copyright {
    font-size: 1.5rem;
}

.fa-arrow-up {
    font-size: 3rem;
    color: var(--violet);
    padding: 0 1rem;
}

.fa-arrow-up:hover {
    color: var(--dark-purple);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

/* Media queries */

@media only screen and (min-width: 576px) {
    /* Header */
    .nav-links {
        width: 40vw;
    }
    
    /* Main */
        /* Portfólió */
        .portfolio-kontener {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        /* Kapcsolat */
        .form-label {
            width: 8rem;
        }
}

@media only screen and (min-width: 768px) {
    /* Header */
    .nav-checkbox__button {
        display: none;
    }

    .nav-links {
        visibility: visible;
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 70vw;
        max-width: 70vw;
        height: 12vh;
    }

    .nav-link {
        padding: 0;
    }

    /* Main */
        /* Főoldal */
        .section-fooldal {
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
        }

        .fooldal-szoveg {
            margin: 0 auto;
        }

        .avatar {
            width: 25vw;
        }

        h2 {
            font-size: 3rem;
        }

        h3 {
            font-size: 2.5rem;
        }

        /* Rólam */
        .rolam-technologiak {
            margin: 5rem 0;
        }

        .rolam-bemutatkozas {
            font-size: 2.4rem;
            letter-spacing: 0.1rem;
            line-height: 3.5rem;
        }

        .icon {
            font-size: 8rem;
            margin: 2rem;
        }

        /* Kapcsolat */
        .form-elem {
            flex-direction: row;
        }

        .form-label {
            margin: 1rem;
            text-align: left;
        }

        .form-input {
            height: 3rem;
        }

        .textarea-label {
            height: 25vh;
            vertical-align: top;
        }
}

@media only screen and (min-width: 992px) {
    body {
        font-size: 2rem;
    }

    /* Header */
    .nav-links {
        width: 60vw;
    }

    .nav-link {
        font-size: 2.2rem;
    }
}